large-app/large-app.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Large-app — single flat stack with 140+ resources across networking,
  storage, compute, API, messaging, eventing, and monitoring.

Parameters:
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, staging, prod]
  VpcCidr:
    Type: String
    Default: "10.0.0.0/16"
  LambdaMemoryMB:
    Type: Number
    Default: 256
    AllowedValues: [128, 256, 512, 1024]
  LogRetentionDays:
    Type: Number
    Default: 14
    AllowedValues: [1, 3, 7, 14, 30, 60, 90]
  NotificationEmail:
    Type: String
    Default: ""
  EnableXRay:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]

Conditions:
  IsProd: !Equals [!Ref Environment, prod]
  IsNotDev: !Not [!Equals [!Ref Environment, dev]]
  XRayEnabled: !Equals [!Ref EnableXRay, "true"]
  HasNotificationEmail: !Not [!Equals [!Ref NotificationEmail, ""]]

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label: {default: Environment}
        Parameters: [Environment, LogRetentionDays]
      - Label: {default: Network}
        Parameters: [VpcCidr]
      - Label: {default: Compute}
        Parameters: [LambdaMemoryMB, EnableXRay]
      - Label: {default: Notifications}
        Parameters: [NotificationEmail]

Resources:
  ApiGatewayCloudWatchRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-apigw-cloudwatch-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiGatewayAccount:
    Type: AWS::ApiGateway::Account
    Properties:
      CloudWatchRoleArn: !GetAtt ApiGatewayCloudWatchRole.Arn

  AppRestApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub "app-api-${Environment}"
      Description: !Sub "App REST API for ${Environment}"
      EndpointConfiguration:
        Types:
          - REGIONAL
      Tags:
        - Key: Environment
          Value: !Ref Environment

  TokenAuthorizer:
    Type: AWS::ApiGateway::Authorizer
    Properties:
      Name: !Sub "app-token-authorizer-${Environment}"
      RestApiId: !Ref AppRestApi
      Type: TOKEN
      IdentitySource: method.request.header.Authorization
      AuthorizerUri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${AuthHandlerFunction.Arn}/invocations"
      AuthorizerResultTtlInSeconds: 300

  AuthorizerInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt AuthHandlerFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${AppRestApi}/authorizers/${TokenAuthorizer}"

  ApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - ItemsGetMethod
      - ItemsPostMethod
      - ItemsOptionsMethod
      - ItemGetMethod
      - ItemPutMethod
      - ItemDeleteMethod
      - ItemOptionsMethod
      - UserGetMethod
      - UserPutMethod
      - AuthPostMethod
      - AuthGetMethod
      - UploadUrlPostMethod
    Properties:
      RestApiId: !Ref AppRestApi
      Description: !Sub "Deployment for ${Environment}"

  ApiStage:
    Type: AWS::ApiGateway::Stage
    DependsOn: ApiGatewayAccount
    Properties:
      RestApiId: !Ref AppRestApi
      DeploymentId: !Ref ApiDeployment
      StageName: !Ref Environment
      AccessLogSetting:
        DestinationArn: !GetAtt ApiGatewayAccessLogGroup.Arn
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiUsagePlan:
    Type: AWS::ApiGateway::UsagePlan
    Properties:
      UsagePlanName: !Sub "app-usage-plan-${Environment}"
      Description: !Sub "Usage plan for ${Environment}"
      ApiStages:
        - ApiId: !Ref AppRestApi
          Stage: !Ref ApiStage
      Quota:
        Limit: !If [IsProd, 1000000, 100000]
        Period: MONTH
      Throttle:
        RateLimit: 1000
        BurstLimit: 2000
      Tags:
        - Key: Environment
          Value: !Ref Environment

  V1Resource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !GetAtt AppRestApi.RootResourceId
      PathPart: v1

  ItemsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref V1Resource
      PathPart: items

  ItemsGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemsResource
      HttpMethod: GET
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ItemsPostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemsResource
      HttpMethod: POST
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ItemsOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemsResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: "200"
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: "200"
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  ItemResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref ItemsResource
      PathPart: "{id}"

  ItemGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemResource
      HttpMethod: GET
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ItemPutMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemResource
      HttpMethod: PUT
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ItemDeleteMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemResource
      HttpMethod: DELETE
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ItemOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref ItemResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: "200"
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,PUT,DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: "200"
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  UsersResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref V1Resource
      PathPart: users

  UserResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref UsersResource
      PathPart: "{userId}"

  UserGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref UserResource
      HttpMethod: GET
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  UserPutMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref UserResource
      HttpMethod: PUT
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  AuthResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref V1Resource
      PathPart: auth

  AuthActionResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref AuthResource
      PathPart: "{action}"

  AuthPostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref AuthActionResource
      HttpMethod: POST
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${AuthHandlerFunction.Arn}/invocations"

  AuthGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref AuthActionResource
      HttpMethod: GET
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${AuthHandlerFunction.Arn}/invocations"

  AssetsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref V1Resource
      PathPart: assets

  UploadUrlResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref AppRestApi
      ParentId: !Ref AssetsResource
      PathPart: upload-url

  UploadUrlPostMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref AppRestApi
      ResourceId: !Ref UploadUrlResource
      HttpMethod: POST
      AuthorizationType: CUSTOM
      AuthorizerId: !Ref TokenAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ApiHandlerFunction.Arn}/invocations"

  ApiHandlerInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ApiHandlerFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${AppRestApi}/*"

  AuthHandlerApiInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt AuthHandlerFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${AppRestApi}/*"

  ApiHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-api-handler-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiHandlerFunction:
    Type: AWS::Lambda::Function
    DependsOn: ApiHandlerLogGroup
    Properties:
      FunctionName: !Sub "app-api-handler-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt ApiHandlerRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 30
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              method = event.get('httpMethod', 'GET')
              path = event.get('path', '/')
              return {'statusCode': 200, 'headers': {'Content-Type': 'application/json'}, 'body': json.dumps({'method': method, 'path': path})}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AuthHandlerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-auth-handler-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AuthHandlerFunction:
    Type: AWS::Lambda::Function
    DependsOn: AuthHandlerLogGroup
    Properties:
      FunctionName: !Sub "app-auth-handler-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt AuthHandlerRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 30
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              action = event.get('pathParameters', {}).get('action', 'unknown')
              return {'statusCode': 200, 'headers': {'Content-Type': 'application/json'}, 'body': json.dumps({'action': action, 'authenticated': True})}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  CleanupLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-cleanup-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  CleanupFunction:
    Type: AWS::Lambda::Function
    DependsOn: CleanupLogGroup
    Properties:
      FunctionName: !Sub "app-cleanup-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt CleanupRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 300
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              return {'statusCode': 200, 'body': json.dumps({'cleaned': True, 'event': str(event)})}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotifierLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-notifier-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotifierFunction:
    Type: AWS::Lambda::Function
    DependsOn: NotifierLogGroup
    Properties:
      FunctionName: !Sub "app-notifier-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt NotifierRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 30
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              message = event.get('Records', [{}])[0].get('Sns', {}).get('Message', '{}')
              return {'statusCode': 200, 'body': json.dumps({'notified': True, 'message': message})}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotifierSnsPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt NotifierFunction.Arn
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref NotificationsTopic

  SchedulerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-scheduler-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  SchedulerFunction:
    Type: AWS::Lambda::Function
    DependsOn: SchedulerLogGroup
    Properties:
      FunctionName: !Sub "app-scheduler-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt SchedulerRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 60
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              return {'statusCode': 200, 'body': json.dumps({'scheduled': True, 'event': str(event)})}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/app-worker-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerFunction:
    Type: AWS::Lambda::Function
    DependsOn: WorkerLogGroup
    Properties:
      FunctionName: !Sub "app-worker-${Environment}"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt WorkerRole.Arn
      MemorySize: !Ref LambdaMemoryMB
      Timeout: 300
      Layers:
        - !Ref UtilsLayer
      VpcConfig:
        SubnetIds:
          - !Ref PrivateSubnetA
          - !Ref PrivateSubnetB
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      TracingConfig:
        Mode: !If [XRayEnabled, Active, PassThrough]
      Code:
        ZipFile: |
          import json
          def handler(event, context):
              records = event.get('Records', [])
              processed = [json.loads(r['body']) for r in records]
              return {'statusCode': 200, 'processed': len(processed)}
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerEventSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt JobsQueue.Arn
      FunctionName: !GetAtt WorkerFunction.Arn
      BatchSize: 10
      Enabled: true

  UtilsLayer:
    Type: AWS::Lambda::LayerVersion
    Properties:
      LayerName: !Sub "app-utils-layer-${Environment}"
      Description: "Utility layer with shared helpers for all Lambda functions"
      CompatibleRuntimes:
        - python3.12
      Content:
        S3Bucket: !Sub "cfn-deploy-${AWS::AccountId}-${AWS::Region}"
        S3Key: "large-app/layers/utils.zip"

  BatchStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn: StatesPolicy
    Properties:
      StateMachineName: !Sub "app-batch-${Environment}"
      StateMachineType: STANDARD
      RoleArn: !GetAtt StatesRole.Arn
      LoggingConfiguration:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionLogGroup.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Batch processing state machine",
          "StartAt": "Validate",
          "States": {
            "Validate": {
              "Type": "Pass",
              "Result": {"validated": true},
              "ResultPath": "$.validation",
              "Next": "Process"
            },
            "Process": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${WorkerFunction.Arn}",
                "Payload.$": "$"
              },
              "ResultPath": "$.processResult",
              "Next": "Notify"
            },
            "Notify": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${NotifierFunction.Arn}",
                "Payload.$": "$"
              },
              "ResultPath": "$.notifyResult",
              "Next": "Done"
            },
            "Done": {
              "Type": "Succeed"
            }
          }
        }
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ScheduledBatchRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "app-scheduled-batch-${Environment}"
      Description: "Trigger batch processing at 2am daily"
      ScheduleExpression: "cron(0 2 * * ? *)"
      State: ENABLED
      Targets:
        - Id: SchedulerFunctionTarget
          Arn: !GetAtt SchedulerFunction.Arn

  ScheduledBatchPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt SchedulerFunction.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt ScheduledBatchRule.Arn

  DailyCleanupRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "app-daily-cleanup-${Environment}"
      Description: "Trigger daily cleanup at 3am"
      ScheduleExpression: "cron(0 3 * * ? *)"
      State: ENABLED
      Targets:
        - Id: CleanupFunctionTarget
          Arn: !GetAtt CleanupFunction.Arn

  DailyCleanupPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CleanupFunction.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt DailyCleanupRule.Arn

  ItemEventRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "app-item-event-${Environment}"
      Description: "Route item creation events to notifier"
      EventPattern:
        source:
          - "app.items"
        detail-type:
          - "ItemCreated"
      State: ENABLED
      Targets:
        - Id: NotifierFunctionTarget
          Arn: !GetAtt NotifierFunction.Arn

  ItemEventPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt NotifierFunction.Arn
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt ItemEventRule.Arn

  ApiHandlerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-api-handler-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiHandlerPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-api-handler-policy-${Environment}"
      Roles:
        - !Ref ApiHandlerRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
              - dynamodb:DeleteItem
              - dynamodb:Query
              - dynamodb:Scan
            Resource:
              - !GetAtt ItemsTable.Arn
              - !Sub "${ItemsTable.Arn}/index/*"
              - !GetAtt UsersTable.Arn
              - !Sub "${UsersTable.Arn}/index/*"
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
            Resource: !Sub "arn:aws:s3:::${AssetsBucket}/*"
          - Effect: Allow
            Action:
              - sqs:SendMessage
            Resource: !GetAtt JobsQueue.Arn

  AuthHandlerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-auth-handler-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AuthHandlerPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-auth-handler-policy-${Environment}"
      Roles:
        - !Ref AuthHandlerRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - cognito-idp:AdminInitiateAuth
              - cognito-idp:AdminGetUser
              - cognito-idp:AdminCreateUser
              - cognito-idp:AdminDeleteUser
            Resource: "*"
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:DeleteItem
            Resource: !GetAtt SessionsTable.Arn

  WorkerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-worker-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-worker-policy-${Environment}"
      Roles:
        - !Ref WorkerRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:UpdateItem
            Resource: !GetAtt ItemsTable.Arn
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:DeleteObject
            Resource: !Sub "arn:aws:s3:::${AssetsBucket}/*"
          - Effect: Allow
            Action:
              - sqs:ReceiveMessage
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
            Resource: !GetAtt JobsQueue.Arn
          - Effect: Allow
            Action:
              - sns:Publish
            Resource: !Ref NotificationsTopic

  SchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-scheduler-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  SchedulerPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-scheduler-policy-${Environment}"
      Roles:
        - !Ref SchedulerRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - states:StartExecution
            Resource: !Ref BatchStateMachine
          - Effect: Allow
            Action:
              - dynamodb:Scan
            Resource: !GetAtt ItemsTable.Arn

  NotifierRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-notifier-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotifierPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-notifier-policy-${Environment}"
      Roles:
        - !Ref NotifierRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - ses:SendEmail
              - ses:SendRawEmail
            Resource: "*"
          - Effect: Allow
            Action:
              - sns:Publish
            Resource: !Ref NotificationsTopic

  CleanupRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-cleanup-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  CleanupPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-cleanup-policy-${Environment}"
      Roles:
        - !Ref CleanupRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - dynamodb:DeleteItem
              - dynamodb:Query
              - dynamodb:Scan
            Resource:
              - !GetAtt SessionsTable.Arn
              - !GetAtt OrdersTable.Arn
          - Effect: Allow
            Action:
              - s3:DeleteObject
            Resource: !Sub "arn:aws:s3:::${ArtifactsBucket}/*"

  StatesRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-states-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  StatesPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-states-policy-${Environment}"
      Roles:
        - !Ref StatesRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !GetAtt WorkerFunction.Arn
              - !GetAtt NotifierFunction.Arn
          - Effect: Allow
            Action:
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutLogEvents
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
            Resource: "*"

  EventBridgeSchedulerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-eventbridge-scheduler-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  EventBridgeSchedulerPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-eventbridge-scheduler-policy-${Environment}"
      Roles:
        - !Ref EventBridgeSchedulerRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !GetAtt SchedulerFunction.Arn
              - !GetAtt CleanupFunction.Arn

  JobsDlq:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "app-jobs-dlq-${Environment}"
      MessageRetentionPeriod: 1209600
      Tags:
        - Key: Environment
          Value: !Ref Environment

  JobsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "app-jobs-${Environment}"
      VisibilityTimeout: 300
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt JobsDlq.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotificationsDlq:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "app-notifications-dlq-${Environment}"
      MessageRetentionPeriod: 1209600
      Tags:
        - Key: Environment
          Value: !Ref Environment

  NotificationsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "app-notifications-${Environment}"
      VisibilityTimeout: 60
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt NotificationsDlq.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref Environment

  JobsQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref JobsQueue
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowLambdaSend
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sqs:SendMessage
            Resource: !GetAtt JobsQueue.Arn
          - Sid: AllowAccountSend
            Effect: Allow
            Principal:
              AWS: !Sub "arn:aws:iam::${AWS::AccountId}:root"
            Action: sqs:SendMessage
            Resource: !GetAtt JobsQueue.Arn

  NotificationsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "app-notifications-${Environment}"
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AlarmsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "app-alarms-${Environment}"
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AlarmsTopicEmailSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasNotificationEmail
    Properties:
      Protocol: email
      Endpoint: !Ref NotificationEmail
      TopicArn: !Ref AlarmsTopic

  ApiErrorRateAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-api-error-rate-${Environment}"
      AlarmDescription: "API Gateway 5XX error rate exceeds 1%"
      Namespace: AWS/ApiGateway
      MetricName: 5XXError
      Dimensions:
        - Name: ApiName
          Value: !Sub "app-api-${Environment}"
        - Name: Stage
          Value: !Ref Environment
      Statistic: Average
      Period: 60
      EvaluationPeriods: 5
      Threshold: 0.01
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiLatencyAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-api-latency-${Environment}"
      AlarmDescription: "API Gateway p99 latency exceeds 3000ms"
      Namespace: AWS/ApiGateway
      MetricName: Latency
      Dimensions:
        - Name: ApiName
          Value: !Sub "app-api-${Environment}"
        - Name: Stage
          Value: !Ref Environment
      ExtendedStatistic: p99
      Period: 60
      EvaluationPeriods: 5
      Threshold: 3000
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-worker-errors-${Environment}"
      AlarmDescription: "Worker Lambda function errors detected"
      Namespace: AWS/Lambda
      MetricName: Errors
      Dimensions:
        - Name: FunctionName
          Value: !Ref WorkerFunction
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  JobsDlqDepthAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-jobs-dlq-depth-${Environment}"
      AlarmDescription: "Messages visible in Jobs DLQ"
      Namespace: AWS/SQS
      MetricName: ApproximateNumberOfMessagesVisible
      Dimensions:
        - Name: QueueName
          Value: !GetAtt JobsDlq.QueueName
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiHandlerThrottleAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-api-handler-throttles-${Environment}"
      AlarmDescription: "API Handler Lambda throttles detected"
      Namespace: AWS/Lambda
      MetricName: Throttles
      Dimensions:
        - Name: FunctionName
          Value: !Ref ApiHandlerFunction
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  WorkerThrottleAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-worker-throttles-${Environment}"
      AlarmDescription: "Worker Lambda throttles detected"
      Namespace: AWS/Lambda
      MetricName: Throttles
      Dimensions:
        - Name: FunctionName
          Value: !Ref WorkerFunction
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ItemsTableThrottleAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub "app-items-table-throttles-${Environment}"
      AlarmDescription: "DynamoDB ItemsTable system errors detected"
      Namespace: AWS/DynamoDB
      MetricName: SystemErrors
      Dimensions:
        - Name: TableName
          Value: !Ref ItemsTable
      Statistic: Sum
      Period: 60
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref AlarmsTopic
      TreatMissingData: notBreaching
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AvailabilityCompositeAlarm:
    Type: AWS::CloudWatch::CompositeAlarm
    Properties:
      AlarmName: !Sub "app-availability-composite-${Environment}"
      AlarmDescription: "Composite alarm for overall API availability"
      AlarmRule: !Sub "ALARM(${ApiErrorRateAlarm}) OR ALARM(${ApiLatencyAlarm})"
      AlarmActions:
        - !Ref AlarmsTopic

  AppDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub "app-overview-${Environment}"
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "x": 0, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "API Gateway - Requests",
                "region": "${AWS::Region}",
                "metrics": [
                  ["AWS/ApiGateway", "Count", "ApiName", "app-api-${Environment}", "Stage", "${Environment}"]
                ],
                "period": 60,
                "stat": "Sum",
                "view": "timeSeries"
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 0, "width": 12, "height": 6,
              "properties": {
                "title": "API Gateway - Latency",
                "region": "${AWS::Region}",
                "metrics": [
                  ["AWS/ApiGateway", "Latency", "ApiName", "app-api-${Environment}", "Stage", "${Environment}"]
                ],
                "period": 60,
                "stat": "p99",
                "view": "timeSeries"
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "Lambda Errors",
                "region": "${AWS::Region}",
                "metrics": [
                  ["AWS/Lambda", "Errors", "FunctionName", "app-api-handler-${Environment}"],
                  ["AWS/Lambda", "Errors", "FunctionName", "app-worker-${Environment}"]
                ],
                "period": 60,
                "stat": "Sum",
                "view": "timeSeries"
              }
            },
            {
              "type": "metric",
              "x": 12, "y": 6, "width": 12, "height": 6,
              "properties": {
                "title": "DynamoDB - ItemsTable Consumed Capacity",
                "region": "${AWS::Region}",
                "metrics": [
                  ["AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${ItemsTable}"],
                  ["AWS/DynamoDB", "ConsumedWriteCapacityUnits", "TableName", "${ItemsTable}"]
                ],
                "period": 60,
                "stat": "Sum",
                "view": "timeSeries"
              }
            },
            {
              "type": "metric",
              "x": 0, "y": 12, "width": 12, "height": 6,
              "properties": {
                "title": "SQS - JobsQueue Depth",
                "region": "${AWS::Region}",
                "metrics": [
                  ["AWS/SQS", "ApproximateNumberOfMessagesVisible", "QueueName", "${JobsQueue.QueueName}"]
                ],
                "period": 60,
                "stat": "Maximum",
                "view": "timeSeries"
              }
            }
          ]
        }

  StepFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/states/app-batch-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ApiGatewayAccessLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/apigateway/app-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  EipA:
    Type: AWS::EC2::EIP
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub "app-eip-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  EipB:
    Type: AWS::EC2::EIP
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: !Sub "app-eip-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  NatGatewayA:
    Type: AWS::EC2::NatGateway
    Properties:
      SubnetId: !Ref PublicSubnetA
      AllocationId: !GetAtt EipA.AllocationId
      Tags:
        - Key: Name
          Value: !Sub "app-nat-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  NatGatewayB:
    Type: AWS::EC2::NatGateway
    Properties:
      SubnetId: !Ref PublicSubnetB
      AllocationId: !GetAtt EipB.AllocationId
      Tags:
        - Key: Name
          Value: !Sub "app-nat-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref AppVpc
      Tags:
        - Key: Name
          Value: !Sub "app-public-rt-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PublicDefaultRoute:
    Type: AWS::EC2::Route
    DependsOn: VpcGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: "0.0.0.0/0"
      GatewayId: !Ref InternetGateway

  PublicSubnetAAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnetA
      RouteTableId: !Ref PublicRouteTable

  PublicSubnetBAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PublicSubnetB
      RouteTableId: !Ref PublicRouteTable

  PrivateRouteTableA:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref AppVpc
      Tags:
        - Key: Name
          Value: !Sub "app-private-rt-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PrivateDefaultRouteA:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTableA
      DestinationCidrBlock: "0.0.0.0/0"
      NatGatewayId: !Ref NatGatewayA

  PrivateSubnetAAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnetA
      RouteTableId: !Ref PrivateRouteTableA

  PrivateRouteTableB:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref AppVpc
      Tags:
        - Key: Name
          Value: !Sub "app-private-rt-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PrivateDefaultRouteB:
    Type: AWS::EC2::Route
    Properties:
      RouteTableId: !Ref PrivateRouteTableB
      DestinationCidrBlock: "0.0.0.0/0"
      NatGatewayId: !Ref NatGatewayB

  PrivateSubnetBAssoc:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      SubnetId: !Ref PrivateSubnetB
      RouteTableId: !Ref PrivateRouteTableB

  PublicSubnetA:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.0.0/24"
      AvailabilityZone: !Select [0, !GetAZs ""]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub "app-public-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PublicSubnetB:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.1.0/24"
      AvailabilityZone: !Select [1, !GetAZs ""]
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: !Sub "app-public-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PrivateSubnetA:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.10.0/24"
      AvailabilityZone: !Select [0, !GetAZs ""]
      Tags:
        - Key: Name
          Value: !Sub "app-private-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  PrivateSubnetB:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.11.0/24"
      AvailabilityZone: !Select [1, !GetAZs ""]
      Tags:
        - Key: Name
          Value: !Sub "app-private-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  DataSubnetA:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.20.0/24"
      AvailabilityZone: !Select [0, !GetAZs ""]
      Tags:
        - Key: Name
          Value: !Sub "app-data-a-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  DataSubnetB:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref AppVpc
      CidrBlock: "10.0.21.0/24"
      AvailabilityZone: !Select [1, !GetAZs ""]
      Tags:
        - Key: Name
          Value: !Sub "app-data-b-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  AppVpc:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcCidr
      EnableDnsSupport: true
      EnableDnsHostnames: true
      Tags:
        - Key: Name
          Value: !Sub "app-vpc-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  InternetGateway:
    Type: AWS::EC2::InternetGateway
    Properties:
      Tags:
        - Key: Name
          Value: !Sub "app-igw-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  VpcGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref AppVpc
      InternetGatewayId: !Ref InternetGateway

  FlowLogsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vpc/flowlogs-${Environment}"
      RetentionInDays: !Ref LogRetentionDays
      Tags:
        - Key: Environment
          Value: !Ref Environment

  FlowLogsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "app-vpc-flowlogs-role-${Environment}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: vpc-flow-logs.amazonaws.com
            Action: sts:AssumeRole
      Tags:
        - Key: Environment
          Value: !Ref Environment

  FlowLogsRolePolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: !Sub "app-vpc-flowlogs-policy-${Environment}"
      Roles:
        - !Ref FlowLogsRole
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
              - logs:DescribeLogGroups
              - logs:DescribeLogStreams
            Resource: "*"

  VpcFlowLog:
    Type: AWS::EC2::FlowLog
    Properties:
      ResourceId: !Ref AppVpc
      ResourceType: VPC
      TrafficType: ALL
      LogDestinationType: cloud-watch-logs
      LogGroupName: !Ref FlowLogsLogGroup
      DeliverLogsPermissionArn: !GetAtt FlowLogsRole.Arn
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AlbSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "ALB security group - allows HTTP and HTTPS from internet"
      VpcId: !Ref AppVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: "0.0.0.0/0"
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: "0.0.0.0/0"
      Tags:
        - Key: Name
          Value: !Sub "app-alb-sg-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Lambda security group - egress all, ingress from ALB on 443"
      VpcId: !Ref AppVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref AlbSecurityGroup
      SecurityGroupEgress:
        - IpProtocol: "-1"
          FromPort: -1
          ToPort: -1
          CidrIp: "0.0.0.0/0"
      Tags:
        - Key: Name
          Value: !Sub "app-lambda-sg-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  DataSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Data tier security group - ingress on 443 from Lambda"
      VpcId: !Ref AppVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
      Tags:
        - Key: Name
          Value: !Sub "app-data-sg-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  EndpointSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "VPC Endpoint security group - ingress 443 from VPC CIDR"
      VpcId: !Ref AppVpc
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: !Ref VpcCidr
      Tags:
        - Key: Name
          Value: !Sub "app-endpoint-sg-${Environment}"
        - Key: Environment
          Value: !Ref Environment

  ItemsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "app-items-${Environment}"
      BillingMode: PROVISIONED
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        - AttributeName: ownerId
          AttributeType: S
        - AttributeName: status
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: OwnerIndex
          KeySchema:
            - AttributeName: ownerId
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5
        - IndexName: StatusIndex
          KeySchema:
            - AttributeName: status
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ItemsReadScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${ItemsTable}"
      ScalableDimension: dynamodb:table:ReadCapacityUnits
      ServiceNamespace: dynamodb

  ItemsWriteScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${ItemsTable}"
      ScalableDimension: dynamodb:table:WriteCapacityUnits
      ServiceNamespace: dynamodb

  ItemsReadScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-items-read-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref ItemsReadScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization

  ItemsWriteScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-items-write-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref ItemsWriteScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization

  OrdersTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "app-orders-${Environment}"
      BillingMode: PROVISIONED
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        - AttributeName: userId
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: UserOrdersIndex
          KeySchema:
            - AttributeName: userId
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5
      StreamSpecification:
        StreamViewType: NEW_IMAGE
      Tags:
        - Key: Environment
          Value: !Ref Environment

  OrdersReadScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${OrdersTable}"
      ScalableDimension: dynamodb:table:ReadCapacityUnits
      ServiceNamespace: dynamodb

  OrdersWriteScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${OrdersTable}"
      ScalableDimension: dynamodb:table:WriteCapacityUnits
      ServiceNamespace: dynamodb

  OrdersReadScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-orders-read-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref OrdersReadScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization

  OrdersWriteScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-orders-write-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref OrdersWriteScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization

  SessionsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "app-sessions-${Environment}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Environment
          Value: !Ref Environment

  UsersTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "app-users-${Environment}"
      BillingMode: PROVISIONED
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        - AttributeName: email
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: EmailIndex
          KeySchema:
            - AttributeName: email
              KeyType: HASH
          Projection:
            ProjectionType: ALL
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5
      Tags:
        - Key: Environment
          Value: !Ref Environment

  UsersReadScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${UsersTable}"
      ScalableDimension: dynamodb:table:ReadCapacityUnits
      ServiceNamespace: dynamodb

  UsersWriteScalingTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MinCapacity: 1
      MaxCapacity: !If [IsProd, 100, 10]
      ResourceId: !Sub "table/${UsersTable}"
      ScalableDimension: dynamodb:table:WriteCapacityUnits
      ServiceNamespace: dynamodb

  UsersReadScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-users-read-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref UsersReadScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBReadCapacityUtilization

  UsersWriteScalingPolicy:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: !Sub "app-users-write-scaling-${Environment}"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref UsersWriteScalingTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: 70.0
        PredefinedMetricSpecification:
          PredefinedMetricType: DynamoDBWriteCapacityUtilization

  AssetsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "app-assets-${Environment}-${AWS::AccountId}"
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
          - Id: TransitionToIA
            Status: Enabled
            Transitions:
              - TransitionInDays: 90
                StorageClass: STANDARD_IA
      Tags:
        - Key: Environment
          Value: !Ref Environment

  AssetsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref AssetsBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: DenyNonHTTPS
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !Sub "arn:aws:s3:::${AssetsBucket}"
              - !Sub "arn:aws:s3:::${AssetsBucket}/*"
            Condition:
              Bool:
                "aws:SecureTransport": "false"

  LogsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "app-logs-${Environment}-${AWS::AccountId}"
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOldLogs
            Status: Enabled
            ExpirationInDays: !If [IsProd, 365, 30]
      Tags:
        - Key: Environment
          Value: !Ref Environment

  BackupsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "app-backups-${Environment}-${AWS::AccountId}"
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: Environment
          Value: !Ref Environment

  BackupsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref BackupsBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: DenyNonHTTPS
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !Sub "arn:aws:s3:::${BackupsBucket}"
              - !Sub "arn:aws:s3:::${BackupsBucket}/*"
            Condition:
              Bool:
                "aws:SecureTransport": "false"

  ArtifactsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "app-artifacts-${Environment}-${AWS::AccountId}"
      Tags:
        - Key: Environment
          Value: !Ref Environment

  ArtifactsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ArtifactsBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: DenyNonHTTPS
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !Sub "arn:aws:s3:::${ArtifactsBucket}"
              - !Sub "arn:aws:s3:::${ArtifactsBucket}/*"
            Condition:
              Bool:
                "aws:SecureTransport": "false"

